@model WebApplication.Models.Greeting

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <button>
        <p>
            button
        </p>
    </button>
</body>
</html>